{% extends '_layouts/base.html.twig' %}

{% block body %}

    <div class="vertical-layout">

        <div class="card">
            <div class="card-body">
                <h1 class="card-title">
                    {% block title %}{% endblock %}
                </h1>

                {% block pageContent %}{% endblock %}

            </div>
        </div>
    </div>

{% endblock %}