{% extends "_layouts/page-one-col.html.twig" %}

{% block title %}
    About us
{% endblock %}


{% block mainContent %}


    <h1>About Us</h1>

    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores aut consequatur cumque dolor hic illo illum impedit ipsam iusto maxime natus, nihil odit pariatur quae quas quisquam temporibus, totam voluptatem?
    </p>

{% endblock %}