{% extends "_layouts/page-two-cols.html.twig" %}

{% block title %}
    Bienvenue sur le site d'intro a SF
{% endblock %}

{% block header %}

    {# On inclut le contenu du block "header" qui a déjà été défini dans le template parent #}
    {{ parent() }}

    <div class="jumbotron">

        <div class="container">
            {# Une facon de vérifier qu'on est authentifié #}
            {% if is_granted('ROLE_USER') %}
                <h1 class="display-4">
                    Salut {{ app.user.fullName }} !
                </h1>
                <p class="lead">Content de te revoir sur <strong>Post'it</strong> :)</p>
            {% else %}
                <h1 class="display-4">
                    Salut visiteur anonyme !
                </h1>
                <p class="lead">Bienvenue sur <strong>Post'it</strong></p>
                <hr class="my-4">
                <p>Rejoins une communauté de développeurs passionnés et partage tes connaissances !</p>

                <a class="btn btn-primary btn-lg" href="{{ path('app_register') }}">Trop cool, je m'inscris direct</a>
            {% endif %}
        </div>
    </div>

{% endblock %}


{% block mainContent %}
    <h2>Les messages populaires</h2>
    {% include "post/post-list.html.twig" with { posts: popularList } %}
{% endblock %}


{% block sidebarContent %}

    <div class="sticky-sidebar">

        {# Une autre facon de vérifier qu'on est authentifié #}
        {% if app.user is not empty %}
            <h2>Exprime toi !</h2>
            {{ form(form) }}
        {% else %}
            <h2>Rejoins nous !</h2>
            {% include "security/login-form.html.twig" with { loginForm: form } %}
        {% endif %}

    </div>
{% endblock %}