{% extends '_layouts/vertical-centered.html.twig' %}

{% block title %}Inscris toi !{% endblock %}


{% block pageContent %}
    {% include "security/register-form.html.twig" %}

    <a href="{{ path('app_login') }}">
        J'ai déjà un compte
    </a>

{% endblock %}
