
<div class="spinner-border text-primary d-none" role="status">
    <span class="sr-only">Loading...</span>
</div>

{% if (post.isLikedBy(app.user)) %}
    <i class="bi-heart-fill" role="img" aria-label="Nombres de likes"></i>
{% else %}
    <i class="bi-heart" role="img" aria-label="Nombres de likes"></i>
{% endif %}

{# TODO optimiser la requete de la homepage pour inclure directement le nombre de commentaires dedans !#}
<span class="counter">
    {{ post.likersCount }}
</span>
